html {
	width: 100vw;
	height: 100vh;
}

body {
	position: relative;
	box-sizing: border-box;
	
	/* Background Properties */
	background-image: linear-gradient(to bottom, skyblue, lightgreen);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;

	/* Margin Properties */
	margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	
	/* Border Properties */
	border-top-width: 0;
	border-right-width: 0;
	border-bottom-width: 0;
	border-left-width: 0;
	
	/* Padding Properties */
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
	
	/* Inset Properties */
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	
	/* Size Properties */
	width: fit-content;
	height: fit-content;
}

h1 {
	
}

p {
	
}

ul {
	
}